.App {
  text-align: center;
}

body {
  height: 100vh !important;
}

.board {
  width: 400px;
  /* margin: 10px 570px; */
  margin-left: auto;
  margin-right: auto;
}

.board-cell {
  width: 100px !important;
  border: none;
  height: 100px;
  box-shadow: 0px 0px 10px #888;
  background-color: white;
  border-radius: 10px;
  width: 5rem;
  height: 5rem;
  text-align: center;
  font-weight: bolder;
  list-style: 5rem;
  margin: 0.5rem;
  color: black;
}

.board-cell:hover {
  box-shadow: 0px 0px 15px #888;
}

.score-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 10px #888;
  width: 400px;
  margin: 3rem auto;
  font-weight: bold;
  font-size: 22px;
  border-radius: 10%;
}

.x-score {
  color: red;
  width: 33%;
  padding: 15px;
}

.o-score {
  color: black;
  width: 33%;
  padding: 15px;
}

.tie-score {
  color: rgb(82, 220, 28);
  width: 33%;
  padding: 15px;
}

.winner-card {
  text-align: center;
  height: 7rem;
  background-color: rgb(27, 152, 205);
  color: white;
  width: 50px;
  height: 40px;
  border-radius: 10%;
}
